/* TaskList Component Styles */

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-list-empty {
  padding: 3rem 2rem;
  text-align: center;
}

.task-list-empty p {
  margin: 0;
  color: #999;
  font-size: 1rem;
  font-style: italic;
}
